/* App */
.App {
  text-align: center;
}

/* Navigation */
.nav-reg{
  padding: 30px;
  text-decoration: underline;
}

.nav-login{
  padding: 30px;
  text-decoration: underline;
}

.nav-logout{
  padding: 30px;
  text-decoration: underline;
}

.nav-home{
  padding: 30px;
  text-decoration: underline;
}

.nav-post{
  padding: 30px;
  text-decoration: underline;
}